* {
margin : 0;
padding : 0;
box-sizing : border-box;
}
html,body {
width: 100%;
height: 100%;
}

#index{
  background-color: red;
}
.about{
  background-color: green;
}
.blog{
  background-color: rgb(10, 22, 10);
}
.contact{
  background-color: rgb(128, 0, 100);
}
.create{
  background-color: rgb(55, 63, 30);
}
.notes{
  background-color: rgb(41, 46, 41);
}